body{
    background-image: url("./bj.jpeg");
    -moz-user-select: -moz-none; 
    -moz-user-select: none; 
    -o-user-select:none; 
    -khtml-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
    font-weight: 100;
}
header,section,footer{
    margin: 15px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.85);
}
header{
    height: 80px;
}
section{
    text-align: center;
}
footer{
    text-align: center;
    font-size: 15px;
}
/* links settings */
a{
    color: black;
    text-decoration-line: none;
}
/* text settings */
h1,h2,h3,h4,small,p,div,span{
    font-weight: 100;
}
small{
    font-size: 22px;
}
/* idc settings */
.idc_block{
    width: 180px;
    height: 180px;
    padding: 5px;
    margin: 10px;
    text-align: center;
   
    background-color: rgb(175, 165, 165);
    
    transition: 100ms;
    cursor: pointer;
}
.idc_block:hover{
    width: 200px;
    height: 200px;
    position: relative;
    top: -10px;
    box-shadow: 4px 4px 10px #4a4848;
}
/* media settings */
@media screen and (max-width: 790px){
    header,section,footer{
        width: 100%!important;
    }
}
@media screen and (min-width: 790px){
    header,section,footer{
        width: 770px!important;
    }   
}
@media screen and (min-width: 990px){
    header,section,footer{
        width: 970px!important;
    }
}
@media screen and (min-width: 1190px){
    header,section,footer{
        width: 1170px!important;
    }
}